# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# XcodeGen output
KancolleIOS.xcodeproj/

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/
